---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/blog-post.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blog");
---

<Layout pageTitle={pageTitle}>
  <div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-12">Blog</h1>
    <ul class="space-y-6">
      {
        allPosts.map((post) => (
          <BlogPost
            url={`/blog/${post.id}/`}
            title={post.data.title}
            date={post.data.pubDate}
          />
        ))
      }
    </ul>
  </div>
</Layout>
