@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  scroll-behavior: smooth;
  min-height: 100vh;
  height :100vh;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.button-bounce {
  animation: bounce 1s infinite ease-in-out;
}

.button-bounce:hover {
  animation: bounce 1s infinite ease-in-out;
}

.fade-in {
  animation: fade-in 3s ease forwards;
}

.fade-in-2 {
  animation: fade-in 6s ease forwards;
}

.fade-in-3{
  animation: fade-in 8s ease forwards;

}